.container{
    background-color: rgb(12, 12, 33);
}
h1{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    background-color: rgb(33, 28, 45);
}
p{
    color: white;
    padding: 40px;
}
.random__link{
    text-decoration: none;
    padding: 10px 40px; 
    background-color: aqua;
    color: black;
    position: relative;
    left: 530px;
}